.fisheries-regions__cont {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 4);
}

.fisheries-regions__regions {
    display: flex;
    flex-direction: column;
    border: 1px solid #4d4c52;
    border-radius: 0.5rem;
    overflow: hidden;
}